:root {
    --books-per-row: 7;
}

.library-header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.library-controls {
    display: flex;
    gap: 10px;
    width: 100%;
}

.add-book-button {
    flex-shrink: 0;
}

.search-box {
    flex: 1 1 auto;
    min-width: 0;
}



.library-main {
    max-width: calc(var(--books-per-row) * 250px + (var(--books-per-row) - 1) * 20px);
    margin: 0 auto;
}

.library-content {
    display: flex;
    gap: 20px;
}

.library-books-grid {
    flex: 1;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(var(--books-per-row), 1fr);
}

.library-filters {
    width: 300px;
}

@media (max-width: 768px) {
    .library-content {
        flex-direction: column;
    }
    .library-books-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .library-filters {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .library-books-grid {
        grid-template-columns: 1fr;
    }
}
